@* UNDER CONSTRUCTION *@


<h1>Edit Info:</h1>
<form action="/Details/@(Model.ParkId)" method="post">
  <label for="user">User's Name</label>
  <input id="user" name="user" type="text" value="@(Model.User)">
  <br>
  <label for="state">Park's State</label>
  <input id="state" name="state" type="text" value="@(Model.State)">
  <br>
  <label for="city">Park's City</label>
  <input id="city" name="city" type="text" value="@(Model.City)">
  <br>
  <label for="parkname">Park's Name</label>
  <input id="parkname" name="parkname" type="parkname" value="@(Model.ParkName)">
  <br>
  <label for="rating">Park's Rating</label>
  <input id="rating" name="rating" type="rating" value="@(Model.Rating)">
  <br>
  <label for="activities">Park's Activities</label>
  <input id="activities" name="activities" type="activities" value="@(Model.Activities)">
  <br>
  <button type="submit">Go!</button>
</form>

<hr>
<a href="/Details/@(Model.ParkId)"><p>Return to Details</p></a>